CORS_ORIGIN=http://localhost:3000
NEXT_APP_URL=http://client:3000
MONGODB_URL=mongodb://localhost:27017
REDIS_URL=redis://localhost:6379

TOKEN_SECRET=
TOKEN_EXPIRY=

REDIS_PREFIX=clinicFlow

# cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# mail config
SENDER_EMAIL =
BREVO_API_KEY=

REVALIDATE_SECRET=
